version: "3.9"

services:
  app:
    image: ghcr.io/ShareTheWorld/beany-fastapi-async:latest
    container_name: beany-fastapi-async
    ports:
      - "8000:8000"
    volumes:
      - ./config:/app/config
    restart: always
